# Logs y carpetas generadas
client/logs/
client/records/
client/__pycache__/

# Audios generados
*.wav

# Logs generados
*.log

# Deb
*.deb

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.env

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos del sistema
.DS_Store
Thumbs.db